{% load static %}

<nav aria-label="Menú principal" role="navigation">
    <ul class="menu" role="menubar">
        <li role="none" {% if request.resolver_match.url_name == 'core:home' %} class="active"{% endif %}>
            <a href="{% url 'core:home' %}" role="menuitem">
                <i class="fas fa-home"></i> Inicio
            </a>
        </li>

        {% if user.is_authenticated %}
            <li role="none" {% if request.resolver_match.url_name == 'core:lista_eventos' %} class="active"{% endif %}>
                <a href="{% url 'core:lista_eventos' %}" role="menuitem">
                    <i class="fas fa-box-open"></i> Lista de Eventos
                </a>
            </li>
            <li role="none" {% if request.resolver_match.url_name == 'logout' %}class="active"{% endif %}>
                <form method="POST" action="{% url 'core:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" role="menuitem">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </button>
                </form>
            </li>
        {% else %}
            <li role="none" {% if request.resolver_match.url_name == 'core:login' %} class="active"{% endif %}>
                <a href="{% url 'core:login' %}" onclick="openModal('login-modal')" role="menuitem">
                    <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                </a>
            </li>
            <li role="none" {% if request.resolver_match.url_name == 'core:register' %} class="active"{% endif %}>
                <a href="{% url 'core:register' %}" onclick="openModal('signup-modal')" role="menuitem">
                    <i class="fas fa-user-plus"></i> Registrarse
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
