{% extends 'base.html' %}

{% block content %}
<h2>{{ evento.nombre }}</h2>

<img src="{{ evento.imagen.url }}" alt="{{ evento.nombre }}" width="200">
<p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
<p><strong>Ubicación:</strong> {{ evento.ubicacion }}</p>
<p><strong>Fecha y Hora:</strong> {{ evento.fecha_hora }}</p>
<p><strong>Capacidad:</strong> {{ evento.capacidad }}</p>
<p><strong>Creador:</strong> {{ evento.creador }}</p>

{% if user.is_authenticated and not esta_inscrito %}
    <a href="#" class="btn btn-primary">Inscribirse</a> 
{% elif user.is_authenticated and esta_inscrito %}
    <p>Ya estás inscrito en este evento.</p>
{% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión para inscribirse</a>
{% endif %}

{% if request.user == evento.creador %}
    <a href="{% url 'core:editar_evento' evento.id %}" class="btn btn-secondary">Editar</a>
    <a href="{% url 'core:eliminar_evento' evento.id %}" class="btn btn-danger">Eliminar</a>
{% endif %}
{% endblock %}

