{% extends 'base.html' %}
{% load static %}

{% block title %}Eliminar Evento{% endblock title %}

{% block content %}
<div class="container">
    <div class="form-container">
        <h2 class="title"><i class="fas fa-trash-alt"></i> Eliminar Evento</h2>
        <p>¿Estás seguro de que quieres eliminar el evento "{{ evento.nombre }}"? Esta acción no se puede deshacer.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'core:detalle_evento' evento.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
