{% extends 'base.html' %}
{% load static %}

{% block title %}Mis Inscripciones{% endblock title %}

{% block content %}
<h1 class="title"><i class="fas fa-list-ul"></i> Mis Inscripciones</h1>

{% if inscripciones %}
<table class="styled-table">
    <thead>
        <tr>
            <th><i class="fas fa-image"></i> Imagen</th>
            <th><i class="fas fa-heading"></i> Evento</th>
            <th><i class="fas fa-calendar-day"></i> Fecha de inscripción</th>
            <th><i class="fas fa-check-circle"></i> Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for inscripcion in inscripciones %}
        <tr>
            <td>
                {% if inscripcion.evento.imagen %}
                    <img src="{{ inscripcion.evento.imagen.url }}" alt="{{ inscripcion.evento.nombre }}" width="100">
                {% else %}
                    <img src="{% static 'images/default_event_image.jpg' %}" alt="Imagen por defecto" width="100">
                {% endif %}
            </td>
            <td>{{ inscripcion.evento.nombre }}</td>
            <td>{{ inscripcion.fecha_inscripcion|date:"d/m/Y H:i" }}</td>
            <td>{{ inscripcion.estado }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{{ mensaje_no_inscripciones }} <a href="{% url 'core:lista_eventos' %}">Lista de eventos</a></p>
{% endif %}
{% endblock %}
